@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500&display=swap");
.body__encabezado--info {
  text-align: center;
  color: #000;
  background-color: #ffffff;
  font-weight: 500;
  letter-spacing: -0.1rem;
  font-size: 1.5em;
  font-family: 'Anek Telugu', sans-serif;
  padding: 6px 0px;
  box-sizing: border-box; }

body {
  font-family: 'Anek Telugu', sans-serif; }

body main {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Anek Telugu', sans-serif; }

main h2 {
  color: #293940;
  font-size: 2.5rem;
  margin: 0;
  overflow-y: hidden;
  font-family: 'Anek Telugu', sans-serif; }

.contenedor__padre--index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav" "header" "mainIndex" "asideIndex" "footer"; }

#mainNav {
  grid-area: nav; }

#header {
  grid-area: header; }

#mainIndex {
  grid-area: mainIndex; }

#aside {
  grid-area: asideIndex; }

#footer {
  grid-area: footer; }

nav {
  background-color: #a68a7b;
  width: 100%;
  height: auto;
  border: solid 4px #a68a7b;
  padding: 0;
  overflow: hidden;
  margin: 0; }
  nav .navbar-nav {
    color: #ffffff; }
    nav .navbar-nav .nav-link {
      color: #ffffff;
      padding-right: 1.3rem;
      padding-left: 1.3rem; }
  nav img {
    width: 58vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 10.5vh; }
  nav ul {
    list-style: none;
    margin: 2px 2px;
    padding: 0;
    overflow: hidden;
    background-color: #023535;
    width: auto;
    border: 2px solid #e7e7e7;
    text-align: center;
    display: flex;
    color: #ffffff; }
    nav ul li {
      border-right: 1px solid #bbb;
      border-left: 1px solid #bbb;
      display: inline-block;
      color: #ffffff; }
      nav ul li a {
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 5px 16px;
        text-decoration: none;
        font-family: 'Anek Telugu', sans-serif;
        font-size: 1.5rem;
        margin-top: 0px; }
        nav ul li a:hover:not(.active) {
          background-color: #353564;
          transition-duration: 0.3s;
          color: #ffffff; }
  nav .active {
    background-color: #015959;
    color: #ffffff; }
  nav form {
    text-align: right;
    margin: 0px 10px; }
    nav form button .btn {
      padding-right: 1.5rem; }
    nav form button .btn-outline-success {
      color: #fff;
      background-color: #1e2626;
      font-size: 1.2rem; }
    nav form button .btn-outline-success {
      border-color: #1e2626; }
    nav form button .body__form--button {
      background-color: #1e2626;
      border: none;
      color: #ffffff;
      padding: 1px;
      padding-top: 4px;
      padding-left: 24px;
      padding-right: 35px;
      text-align: auto;
      text-decoration: none;
      font-family: 'Anek Telugu', sans-serif;
      display: inline-block;
      border-radius: 5px;
      font-size: 13px;
      margin: 0;
      transition-duration: 0.4s;
      cursor: pointer; }
    nav form button .body__form__button--click:hover {
      background-color: #ffffff;
      color: #555555; }
    nav form .d-flex {
      margin: 2vh 0; }
      nav form .d-flex input .form-control {
        font-size: 1.3rem; }
    nav form label {
      font-family: 'Anek Telugu', sans-serif;
      font-size: 1.2rem;
      color: #ffffff; }
  nav .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem; }
    nav .navbar .container-fluid {
      width: 100%;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-right: auto;
      margin-left: auto; }
      nav .navbar .container-fluid .navbar-brand {
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap; }
      nav .navbar .container-fluid .navbar-collapse {
        margin: 0 9vw; }

main #mainIndex {
  grid-area: mainIndex; }

main .main__index__titulo--h1 {
  display: inline-block;
  margin-top: 3vh;
  position: relative;
  border: none;
  padding: 0 100px;
  font-size: 2.5rem;
  overflow-y: hidden; }

main .index__subtitulo--centrado {
  color: #1e2626;
  font-size: 2.5rem;
  margin: 0px;
  text-align: center;
  overflow-y: hidden; }

main .main__flex--padre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

main #main__destacados--index {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

main div .destacados {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main div .destacados figure {
    text-align: center;
    width: 100%;
    height: auto; }
    main div .destacados figure img {
      border-radius: 5px;
      width: 100%;
      height: auto; }
    main div .destacados figure .figcaptionGreen {
      text-align: center;
      padding: 1px;
      margin: 15% auto;
      width: 100%;
      height: 10%;
      font-size: 1.5rem;
      left: 30px;
      background-color: #1e2626;
      color: #ffffff;
      border: 2px solid #1e2626;
      box-shadow: 7px 13px 37px #728a7c; }
    main div .destacados figure figcaption {
      text-align: center;
      padding: 1px;
      margin: 15% auto;
      width: 100%;
      height: auto;
      font-size: 1.5rem;
      left: 30px;
      background-color: #1e2626;
      color: #ffffff;
      border: 2px solid #1e2626;
      box-shadow: 7px 13px 37px #ffea7a; }

main section .section {
  margin-right: 0px; }
  main section .section .page-item {
    background-color: #ffffff;
    border: 1px; }

main section div #main__destacados--index {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main section div #main__destacados--index div .destacados {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main section div #main__destacados--index div .destacados figure {
      text-align: center;
      width: 100%;
      height: auto; }
      main section div #main__destacados--index div .destacados figure img {
        border-radius: 5px;
        width: 100%;
        height: auto; }

aside #aside {
  grid-area: asideIndex; }

aside img {
  border-radius: 5px;
  margin: 20px; }

aside .aside__ad__img--tamaño {
  height: auto;
  width: 90vw;
  margin-top: 0;
  margin-right: 100px;
  border: #000 3px solid;
  border-image: linear-gradient(to left, blueviolet, darkslateblue, darkblue) 1 0;
  border-image: linear-gradient(to left, #8a2be2, #483d8b, #00008b) 1 0;
  padding-top: 10px;
  padding-bottom: 5px; }

div #footer {
  grid-area: footer; }

div .page-item {
  background-color: #ffffff;
  border: 1px; }
  div .page-item .page-link {
    background-color: #1e2626;
    border: 1px;
    color: #ffffff;
    font-family: 'Anek Telugu', sans-serif;
    font-size: 1.6rem; }

footer {
  margin: 10px;
  padding: 10px 5px;
  border: #000 px solid;
  width: 95%;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: 'Anek Telugu', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
  color: #551a8b; }
  footer .footer__img--redes {
    width: 50px; }

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

h1,
h2 {
  font-family: "Anek Telugu", sans-serif; }

h1 {
  color: #1e2626;
  font-size: 4rem;
  margin: 0px;
  text-align: center; }
