@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500&display=swap');
//fonts
$mainFont: 'Anek Telugu', sans-serif;

//text sizing
$textXxs:1.2rem;
$textXs:1.3rem;
$textSm: 1.5rem;
$textMd: 2rem;
$textLg:3rem;
$textXl:4rem;

$textSmEm: 1.5em;

//font - weigth
$bold:600;
$regular:400;
$ligth:300;