//Footer

div{
	#footer{
	    grid-area: footer;
    }
    .page-item{
	background-color: $white;
	border: 1px;
	    .page-link{
			background-color: #1e2626;
			border: 1px;
			color: $white;
			font-family: $mainFont;
			font-size: 1.6rem;
	    }  
    }
}
footer{
	margin:10px;
	padding: 10px 5px;
	border: $black px solid;
	width: 95%;
	box-sizing: border-box;
	background-color:$white;
	font-family: $mainFont;
	font-size: $textSm;
	text-decoration: none;
	font-weight: 500;
	text-decoration: none;
	color: #551a8b;
	.footer__img--redes{
	    width: 50px;
    }
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  padding-top: 5px;
}