.main__libros__titulo--h1{
	display: inline-block;
	margin-top: 5px;
	position: relative;
	border: none;
	padding: 0 100px;
	font-size: 2.5rem;
	overflow-y: hidden;
	margin-top: 3vh;
}

.main__libros__titulo--h1{
	display: inline-block;
	margin-top: 5px;
	position: relative;
	border: none;
	padding: 0 100px;
	font-size: 2.5rem;
	overflow-y: hidden;
	margin-top: 3vh;
}


section{
	.main__div__table--libros{
	    width: 98vw;
	    margin:	50px auto;
	    border: solid 2px #000;
	    .main__table--libros{
		   width: 100%;
		   background-color: #ddd;
		   text-align: left;
		   font-family: 'Anek Telugu', sans-serif;
		   color: #000;
		   border-collapse: collapse;
		   font-size: 1.1rem;
		   .tr__table--libros:nth-child(even){
				background-color: #f5f5f5;
				color: black;
				color: #000;
			}
			.tr__table--libros:hover .td__table--libros{
				background-color: #369681;
				color: #ffffff;
			}
			.th__table--libros{
			 	background-color: #015959 ;
			 	border-bottom: solid 5px black;
			 	border-bottom: solid 5px #000;
			 	color: #ffffff;
			 }
		}
    }
	th, td{
		padding: 20px;
	}
 }