// variables globales

$mainColor: rgb(166, 138, 123);
$secondaryColor: rgb(2, 53, 53);
$thirdColor:rgb(30, 38, 38);
$fourthColor:#728a7c;
$fifthColor:#ffea7a;
$keyColor: rgb(53, 53, 100);
$borderColorLi:#bbb;
$white:#ffffff;
$black:#000;
$activeNav:rgb(1, 89, 89);
$h2TxtColor:rgb(41, 57, 64);