<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Contacto - Suscribite a nuestro newsletter para recibir más información</title>
	<link rel="shortcut icon" href="../img/favicon.svg">
	<!-- meta seo -->
    <meta name="description" content="Contactanos por cualquier duda que tengas o suscribite a nuestro newsletter">
     <meta name="keywords" content="información de contacto, registro de formulario, inscripción a newsletter">
     <meta name="author" content="Joaquin Gonzalez Zapiola">
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/main.css">
</head>
<!-- ends head -->
<body>
	<div class="body__encabezado--info">
		<p>Sitio de El bául del libro - Tel: 0123456789</p>
	</div>
	<div class="contenedor__padre--contacto" >
	   <nav class="navbar navbar-expand-lg navbar-light bg-Lightbrown overflowVisible">
			<div class="container-fluid">
				<a class="navbar-brand nav__div--logo" href="../index.html"> 
				    <img class="nav__div--logo" src="../img/logo2.svg" alt="logo de la página el bául del libro usado">
				</a>
				    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    	<span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
            	    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            		    <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" href="./libros.html" target="_blank">Libros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./locales.html" target="_blank">Locales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./ofertas-y-compras.html" target="_blank">
                               Ofertas y Compras
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white active" href="./contacto.html#contacto" target="_blank">Contacto</a>
                        </li>
                    </ul>
                    <form class="d-flex justify-content-evenly">
                        <input class="form-control-lg me-2 rounded border-0 p-2 h-25" type="search" placeholder="Título, autor, tema..." aria-label="Search">
                        <button class="btn btn-lg btn-dark btn-outline-light border-0 w-25 p-2 h-25" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
	    <!-- ends nav -->
	    <header id="header">
		    
	    </header>
	    <!-- ends header -->
	    <main id="formContacto">
	    	<div class="fs-5 m-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a class="link-dark" href="../index.html">El baúl del libro usado</a></li>
			    <li class="breadcrumb-item" aria-current="page">Contacto</li>
			  </ol>
			</div>
		    <h1 class="main__libros__titulo--h1">¡Contactanos!</h1>
		    <section>
				    <legend class="legend__form--contacto">NEWSLETTER:</legend>
			        <form action="envio.php" id="contacto" class="form__contacto">
			        	<h3 class="form__registro--contacto"> Registro </h3>
			    	    <ul>
			    		    <li class="form__li__promos--contacto">
			    			    <label class="label__form--contacto" for="nombre">Nombre:</label>
				                <input class="form__inputs--contacto" type="text" id="nombre" placeholder="Tu nombre va aquí :)" required>
				            </li>
				            <li class="form__li__promos--contacto">
				    	        <label class="label__form--contacto"for="apellido">Apellido:</label>
				                <input class="form__inputs--contacto" type="text" id="apellido" placeholder="Y aquí va tu apellido :)" required>
				            </li>
				            <li class="form__li__promos--contacto">
				    	        <label class="label__form--contacto" for="email">Email:</label>
				                <input class="form__inputs--contacto" type="email" id="email" placeholder="Aquí tu mail@mail.com" required>
				            </li>
				            <li class="form__li__promos--contacto">
				        	    <label class="label__form--contacto" for="Sexo">Sexo:</label>
				        	    <select name="Sexo">
				        		    <option value="hombre">Hombre</option>
				        		    <option value="mujer">Mujer</option>
                                </select>
				            </li>
				            <li class="form__li__promos--contacto">
				        	    <legend class="form__registro--contacto">¿Recibir promociones?:</legend>
				        	    <label class="label__form--contacto" for="si">¡Sí, por favor!</label>
				        	    <input type="radio" id="si" value="si" name="si">
				        	    <label class="label__form--contacto" for="no">¡No, gracias!</label>
				        	    <input type="radio" id="no" value="no" name="si">
				            </li>
				             <label class="label__form--contacto" for="mensaje">Comentarios:</label>
				            <li class="form__li__promos--contacto">
				        	    <textarea name="mensaje" id="mensaje" rows="5" cols="50"></textarea>
				            </li>
				            <li class="form__li__promos--contacto">
				        	    <input class="form__bottons--contacto" type="submit" value="Subscribirme"/>
				            </li>
				            <li class="form__li__promos--contacto">
				        	    <input class="form__bottons--contacto" type="reset" value="Limpiar formulario"/>
				            </li>
				            <li>
				            	<p class="label__form--contacto"> Estoy de acuerdo con  <a href="#">terminos y condiciones </a></p>
				            </li>
			            </ul>
			        </form>
		    </section>
		    <!-- ends form -->
		</main>
		<!-- ends main -->
	    <aside id="aside">
	    	<div class="aside__flex--padre">
		        <img src="../img/starbucks.png" alt=" logo starbucks">
		        <img src="../img/bonafide.jpg" alt=" logo bonafide">
		        <img src="../img/coffeestore.jpg" alt=" logo coffee store">
		    </div>
	    </aside>
	    <!-- ends aside -->

	    <div class="container my-12" id="footer">
	        <section aria-label="page navigation index">
            	<ul class="pagination justify-content-center pagination-lg">
                    <li class="page-item"><a class="page-link" href="../index.html">Home</a></li>
                    <li class="page-item"><a class="page-link" href="libros.html">1</a></li>
                    <li class="page-item"><a class="page-link" href="locales.html">2</a></li>
                    <li class="page-item"><a class="page-link" href="ofertas-y-compras.html">3</a></li>
                    <li class="page-item active"><a class="page-link" href="contacto.html">4</a></li>
                </ul>
            </section>
	    	<footer  class="text-white text-center text-lg-start bg-dark">
	    		<div class="container p-4">
                    <div class="row mt-4">
                        <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                                <h5 class="text-uppercase mb-4"> <strong>Nosotros</strong></h5>

                                <p>
                                 Nos dedicamos a rescatar esos libros olvidados. Los renovamos y les damos una segunda opotunidad :) ¡Sumate!
                                </p>

                                <p>
                                 Buscanos en nuestra redes sociales. Si queres vender o comprar, no dudes en consultarnos. 
                                </p>

                                <div class="mt-4">
                                    <a href="https://www.facebook.com" target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i> <img src="../img/facebook.png" alt="icono facebook" class="footer__img--redes" >
                                    </a>
                                    <a href="https://www.instagram.com" target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i><img src="../img/instagram.png" alt="icono instagram" class="footer__img--redes"> </a>
                                    <a href="https://www.twitter.com" target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i> <img src="../img/twitter.png" alt="icono twitter" class="footer__img--redes"></a>
                                </div>
                            </div>
                         <!--Grid column-->

                         <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase mb-4 pb-1">Buscador</h5>

                                <div class="form-outline form-white mb-4">
                                    <input type="text" id="formControlLg" class="form-control form-control-lg" />
                                    <label class="form-label" for="formControlLg">Buscar</label>
                                </div>

                                <ul class="fa-ul" style="margin-left: 1.65em;">
                                    <li class="mb-3">
                                        <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Buenos Aires, Argentina</span>
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">bauldelusado@gmail.com</span>
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 48 234 567 88</span>
                                    </li>
                                </ul>
                            </div>
                         <!--Grid column-->

                         <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase mb-4">Horarios</h5>

                                <table class="table text-center text-white">
                                    <tbody class="fw-normal">
                                        <tr>
                                            <td>Lun - Mar:</td>
                                            <td>10am - 7pm</td>
                                        </tr>
                                        <tr>
                                            <td>Vie - Sab:</td>
                                            <td>10am - 8pm</td>
                                        </tr>
                                        <tr>
                                            <td>Domingo:</td>
                                            <td>--Cerrado--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2022 Copyright:
                    <a class="text-white" href="index.html">elbauldellibrousado.com.ar</a>
                </div>
                <!-- Copyright -->
            </footer>
	        <!-- ends footer -->
        </div>
        <!-- ends div -->
    </div>
    <!-- JS SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<!-- ends body -->
</html>