<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Locales - El baúl del libro usado</title>
	<link rel="shortcut icon" href="../img/favicon.svg">
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/style.css">
</head>
<!-- ends head -->
<body>
	<div class="body__encabezado--info">
		<p>Sitio de El bául del libro - Tel: 0123456789</p>
	</div>
	<div>
	    <nav class="navbar navbar-expand-lg navbar-light bg-Lightbrown overflowVisible">
			<div class="container-fluid">
				<a class="navbar-brand nav__div--logo" href="../index.html"> 
				    <img class="nav__div--logo" src="../img/logo2.svg" alt="logo de la página el bául del libro usado">
				</a>
				    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    	<span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
            	    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            		    <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./libros.html" target="_blank">Libros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./locales.html" target="_blank">Locales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./ofertas-y-compras.html" target="_blank">
                               Ofertas y Compras
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="./contacto.html#contacto" target="_blank">Contacto</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Título, autor, tema..." aria-label="Search">
                        <button class="btn body__form--button body__form__button--click" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
	    <!-- ends nav -->
	    <header id="header">
		    
	    </header>
	    <!-- ends header -->
	    <main id="mainLocales">
		    <h1 class="main__libros__titulo--h1">Nuestros locales</h1>
		    <section>
		    	<div class="main__div__form--locales">
		    		<h2 class="main__h2__form--locales">Buscador</h2>
		    		<form action="envio.php">
		    			<label for="pais">Pais:</label>
		    			<select class="main__form__select--locales" name="pais" id="pais">
							<option value="Argentina">Argentina</option>
						    <option value="Otros">Otros</option>
					    </select>
					    <label for="provincia">Provincia:</label>
					    <select class="main__form__select--locales" name="provincia" id="provincia">
						    <option value="provincia">Buenos Aires (interior)</option>
						    <option value="provincia">Cordoba</option>
						    <option value="provincia">Rio Negro</option>
						    <option value="provincia">Jujuy</option>
						    <option value="provincia">Tierra del fuego</option>
						    <option value="provincia">Buenos Aires (GBA y CABA)</option>
					    </select>
					    <label for="ciudad">Ciudad-Barrio</label>
					    <select  class="main__form__select--locales"name="Ciudad-Barrio" id="Ciudad-Barrio">
					        <option value="seleccionar todas">Seleccionar todas</option>
					    </select>
			        </form>
			    </div>
		    </section>
		    <!-- ends form -->	
		    <section>
			    <div class="main__div__table--locales">
				    <table class="main__table--locales">
					    <tr class="tr__table--locales">
						    <th class="th__table--locales">Local</th>
					        <th class="th__table--locales">Dirección</th>
					        <th class="th__table--locales">Teléfono</th>
					        <th class="th__table--locales">Horarios</th>
				        </tr>
				        <tr class="tr__table--locales">
					        <td class="td__table--libros">Microcentro (CABA)</td>
					        <td class="td__table--libros">Parana 710</td>
					        <td class="td__table--libros">0123456789</td>
					        <td class="td__table--libros">Lunes a Viernes de 10:00 a 19:00.</td>
				        </tr>
				        <tr class="tr__table--locales">
					        <td class="td__table--libros">Microcentro (CABA)</td>
					        <td class="td__table--libros">Callao 609</td>
					        <td class="td__table--libros">0123456789</td>
					        <td class="td__table--libros">Lunes a Viernes de 10:00 a 19:00.</td>
				        </tr>
				        <tr class="tr__table--locales">
					        <td class="td__table--libros">Pilar (GBA)</td>
					        <td class="td__table--libros">Caamaño 699</td>
					        <td class="td__table--libros">0123456789</td>
					        <td class="td__table--libros">Lunes a Viernes de 10:00 a 19:00.</td>
				        </tr>
				        <tr class="tr__table--locales">
					        <td class="td__table--libros">Nueva Cordoba (CBA)</td>
					        <td class="td__table--libros">Hernandez 5623</td>
					        <td class="td__table--libros">0123456789</td>
					        <td class="td__table--libros">Lunes a Viernes de 10:00 a 19:00.</td>
				        </tr>
				        <tr class="tr__table--locales">
					        <td class="td__table--libros">Bariloche (Rio Negro)</td>
					        <td class="td__table--libros">Cerro 8710</td>
					        <td class="td__table--libros">0123456789</td>
					        <td class="td__table--libros">Lunes a Viernes de 10:00 a 19:00.</td>
				        </tr>
				        <tr class="tr__table--locales">
					        <td class="td__table--libros">Santa Clara (Jujuy)</td>
					        <td class="td__table--libros">Rambert 986</td>
					        <td class="td__table--libros">0123456789</td>
					        <td class="td__table--libros">Lunes a Viernes de 10:00 a 19:00.</td>
				        </tr>
				        <tr class="tr__table--locales">
					        <td class="td__table--libros">Carmen de Areco (BSAS - Interior)</td>
					        <td class="td__table--libros">Camperas 577</td>
					        <td class="td__table--libros">0123456789</td>
					        <td class="td__table--libros">Lunes a Viernes de 10:00 a 19:00.</td>
				        </tr>
				        <tr class="tr__table--locales">
					        <td class="td__table--libros">Ushuaia (Tierra del fuego)</td>
					        <td class="td__table--libros">Arenas 7190</td>
					        <td class="td__table--libros">0123456789</td>
					        <td class="td__table--libros">Lunes a Viernes de 10:00 a 19:00.</td>
				        </tr>
			        </table>
			    </div>
		    </section>
		    <!-- ends table -->	
	    </main>
	    <!-- ends main -->
	    <div class="container my-12" id="footer">
	        <section aria-label="page navigation index">
            	<ul class="pagination justify-content-center pagination-lg">
                    <li class="page-item"><a class="page-link" href="../index.html">Home</a></li>
                    <li class="page-item"><a class="page-link" href="libros.html">1</a></li>
                    <li class="page-item active"><a class="page-link" href="locales.html">2</a></li>
                    <li class="page-item"><a class="page-link" href="ofertas-y-compras.html">3</a></li>
                    <li class="page-item"><a class="page-link" href="contacto.html">4</a></li>
                    <li class="page-item"><a class="page-link" href="ofertas-y-compras.html">Next</a></li>
                </ul>
            </section>
	    	<footer  class="text-white text-center text-lg-start bg-dark">
	    		<div class="container p-4">
                    <div class="row mt-4">
                        <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                                <h5 class="text-uppercase mb-4"> <strong>Nosotros</strong></h5>

                                <p>
                                 Nos dedicamos a rescatar esos libros olvidados. Los renovamos y les damos una segunda opotunidad :) ¡Sumate!
                                </p>

                                <p>
                                 Buscanos en nuestra redes sociales. Si queres vender o comprar, no dudes en consultarnos. 
                                </p>

                                <div class="mt-4">
                                    <a href="https://www.facebook.com" target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i> <img src="../img/facebook.png" alt="icono facebook" class="footer__img--redes" >
                                    </a>
                                    <a href="https://www.instagram.com" target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i><img src="../img/instagram.png" alt="icono instagram" class="footer__img--redes"> </a>
                                    <a href="https://www.twitter.com" target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i> <img src="../img/twitter.png" alt="icono twitter" class="footer__img--redes"></a>
                                </div>
                            </div>
                         <!--Grid column-->

                         <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase mb-4 pb-1">Buscador</h5>

                                <div class="form-outline form-white mb-4">
                                    <input type="text" id="formControlLg" class="form-control form-control-lg" />
                                    <label class="form-label" for="formControlLg">Buscar</label>
                                </div>

                                <ul class="fa-ul" style="margin-left: 1.65em;">
                                    <li class="mb-3">
                                        <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Buenos Aires, Argentina</span>
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">bauldelusado@gmail.com</span>
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 48 234 567 88</span>
                                    </li>
                                </ul>
                            </div>
                         <!--Grid column-->

                         <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase mb-4">Horarios</h5>

                                <table class="table text-center text-white">
                                    <tbody class="fw-normal">
                                        <tr>
                                            <td>Lun - Mar:</td>
                                            <td>10am - 7pm</td>
                                        </tr>
                                        <tr>
                                            <td>Vie - Sab:</td>
                                            <td>10am - 8pm</td>
                                        </tr>
                                        <tr>
                                            <td>Domingo:</td>
                                            <td>--Cerrado--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2022 Copyright:
                    <a class="text-white" href="index.html">elbauldellibrousado.com.ar</a>
                </div>
                <!-- Copyright -->
            </footer>
	        <!-- ends footer -->
        </div>
        <!-- ends div -->
	</div>
	<!-- JS SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<!-- ends body -->
</html>