<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ofertas y compras- Enterate de nuestras ofertas imperdibles de libros</title>
	<link rel="shortcut icon" href="../img/favicon.svg">
	<!-- meta seo -->
    <meta name="description" content="Busca entre nuestras ofertas y animate a comprar tu futuro libro. Aquí podras encontrar una lista con grandes opciones de libros">
    <meta name="keywords" content="ofertas del mes, promociones de libros, compras de libros, envios y retiros de compras">
    <meta name="author" content="Joaquin Gonzalez Zapiola">
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/main.css">
</head>
<!-- ends head -->
<body>
	<div class="body__encabezado--info">
		<p>Sitio de El bául del libro - Tel: 0123456789</p>
	</div>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-Lightbrown overflowVisible">
			<div class="container-fluid">
				<a class="navbar-brand nav__div--logo" href="../index.html"> 
				    <img class="nav__div--logo" src="../img/logo2.svg" alt="logo de la página el bául del libro usado">
				</a>
				    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    	<span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
            	    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            		    <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" href="./libros.html" target="_self">Libros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./locales.html" target="_self">Locales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white active" href="./ofertas-y-compras.html" target="_self">
                               Ofertas y Compras
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="./contacto.html#contacto" target="_self">Contacto</a>
                        </li>
                    </ul>
                    <form class="d-flex justify-content-evenly">
                        <input class="form-control-lg me-2 rounded border-0 p-2 h-25" id=inputGroup-sizing-lg type="search" placeholder="Título, autor, tema..." aria-label="Search">
                        <a class="btn btn-lg btn-dark btn-outline-light border-0 w-25 p-2 h-25" href="./404.html">Buscar</a>
                    </form>
                </div>
            </div>
        </nav>
	    <!-- ends nav -->
	    <header id="header">
		   
	    </header>
	    <!-- ends header -->
	    <main id="productos" id="mainOfertas">
	    	<div class="fs-5 m-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a class="link-dark" href="../index.html">El baúl del libro usado</a></li>
			    <li class="breadcrumb-item" aria-current="page">Ofertas y compras</li>
			  </ol>
			</div>
	    	<h1 class="main__libros__titulo--h1">Ofertas del mes</h1>
		    <div class="galeria">			
			    <figure>
				    <img src="../img/suma-de-teologia.webp" alt="libro suma teologica de santo tomás de aquino">
				    <figcaption>Suma de Teología - Santo Tomás de Aquino</figcaption>
				    <p class="price">$500,00</p>
			    </figure>

			    <figure>
				    <img src="../img/para-que-sirve.webp" alt="libro ¿Para que sirve la filosofía? de Dario Sztajnszrajber">
				    <figcaption>¿Para que sirve la filosofía? - Dario Sztajnszrajber</figcaption>
				    <p class="price">$900,00</p>
			    </figure>
		    </div>
		    <div class="galeria">			
			    <figure>
				    <img src="../img/recetas-dias.webp" alt="libro Recetas de tus dias">
				    <figcaption>Recetas de tus días - Susana Gomez</figcaption>
				    <p class="price">$450,00</p>
			    </figure>

			    <figure>
				    <img src="../img/diseno-todos.webp" alt="">
				    <figcaption>Diseño grafico para todos - Nair Calderon</figcaption>
				    <p class="price">$1500,00</p>
			    </figure>
		    </div>
	        <!-- ends list libros y precios -->
	        <h2>Carrito</h2>
	        <section>
	        	<div class="main__div__carrito--ofertas-y-compras">
	        		<form action="envio.php" id="contacto" class="div__form__carrito--ofertas-y-compras">
	        			<div class="radio radio1">
	        				<legend class="form__legend">-Compras y envios-</legend>
	   		                <input type="checkbox" id="suma de teologia" value="Suma de teologia">
	   		                <label for="suma de teologia">Suma de teología</label>
	   		        
	   		                <input type="checkbox" id="¿Para que sirve la filosofía?" value="¿Para que sirve la filosofía?">
	   		                <label for="¿Para que sirve la filosofía?">¿Para que sirve la filosofía?</label>
	   		        
	   		                <input type="checkbox" id="Recetas de tus días" value="Recetas de tus días">
	   		                <label for="Recetas de tus días">Recetas de tus días</label>
	   		        
	   		                <input type="checkbox" id="Diseño grafico para todos" value="Diseño grafico para todos">
	   		                <label for="Diseño grafico para todos">Diseño gráfico para todos</label>
	   		        
	   		                <input type="checkbox" id="Metafisica" value="Metafisica">
	   		                <label for="Metafisica">Metafísica</label>
	   		       
	   		                <input type="checkbox" id="No-Cosas" value="No-Cosas">
	   		                <label for="No-Cosas">No-Cosas</label>
	   		            </div>
	   		        </form>
	   		        <form action="envio.php" id="contacto" class="div__form__carrito--ofertas-y-compras">
	   			        <div class="checkbox checkbox1">
	   	    	            <legend class="form__legend">Envios/Retiros</legend>
	   	    	      
	   	    	            <input type="radio" id="local" value="Retiro sucursal" name="retiro">
	   	    	            <label for="local">Retiro por sucursal</label>
	   	    	    
	   	    	            <input type="radio" id="domicilio" value="Domicilio" name="retiro">
	   	    	            <label for="domicilio">Envio domicilio</label>
	   	                    <input type="button" class="form__input__bottom--ofertas-y-compras" value="Comprar"/>
	   	                </div>
	                </form>
	            </div>
	        </section>
	   <!-- ends form -->
	 </main>
	 <!-- ends main -->

	 <div class="container my-12" id="footer">
	        <section aria-label="page navigation index">
            	<ul class="pagination justify-content-center pagination-lg">
                    <li class="page-item"><a class="page-link" href="../index.html">Home</a></li>
                    <li class="page-item"><a class="page-link" href="libros.html">1</a></li>
                    <li class="page-item"><a class="page-link" href="locales.html">2</a></li>
                    <li class="page-item active"><a class="page-link" href="ofertas-y-compras.html">3</a></li>
                    <li class="page-item"><a class="page-link" href="contacto.html">4</a></li>
                    <li class="page-item"><a class="page-link" href="contacto.html">Next</a></li>
                </ul>
            </section>
	    	<footer  class="text-white text-center text-lg-start bg-dark">
	    		<div class="container p-4">
                    <div class="row mt-4">
                        <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                                <h5 class="text-uppercase mb-4"> <strong>Nosotros</strong></h5>

                                <p>
                                 Nos dedicamos a rescatar esos libros olvidados. Los renovamos y les damos una segunda opotunidad :) ¡Sumate!
                                </p>

                                <p>
                                 Buscanos en nuestra redes sociales. Si queres vender o comprar, no dudes en consultarnos. 
                                </p>

                                <div class="mt-4">
                                    <a href="https://www.facebook.com" target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i> <img src="../img/facebook.webp" alt="icono facebook" class="footer__img--redes" >
                                    </a>
                                    <a href="https://www.instagram.com" target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i><img src="../img/instagram.webp" alt="icono instagram" class="footer__img--redes"> </a>
                                    <a href="https://www.twitter.com" target="_blank" type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i> <img src="../img/twitter.webp" alt="icono twitter" class="footer__img--redes"></a>
                                </div>
                            </div>
                         <!--Grid column-->

                         <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase mb-4 pb-1">Buscador</h5>

                                <div class="form-outline form-white mb-4">
                                    <input type="text" id="formControlLg" class="form-control form-control-lg" />
                                    <label class="form-label" for="formControlLg">Buscar</label>
                                </div>

                                <ul class="fa-ul" style="margin-left: 1.65em;">
                                    <li class="mb-3">
                                        <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Buenos Aires, Argentina</span>
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">bauldelusado@gmail.com</span>
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 48 234 567 88</span>
                                    </li>
                                </ul>
                            </div>
                         <!--Grid column-->

                         <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase mb-4">Horarios</h5>

                                <table class="table text-center text-white">
                                    <tbody class="fw-normal">
                                        <tr>
                                            <td>Lun - Mar:</td>
                                            <td>10am - 7pm</td>
                                        </tr>
                                        <tr>
                                            <td>Vie - Sab:</td>
                                            <td>10am - 8pm</td>
                                        </tr>
                                        <tr>
                                            <td>Domingo:</td>
                                            <td>--Cerrado--</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2022 Copyright:
                    <a class="text-white" href="index.html">elbauldellibrousado.com.ar</a>
                </div>
                <!-- Copyright -->
            </footer>
	        <!-- ends footer -->
        </div>
        <!-- ends div -->
	</div>
	<!-- JS SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<!-- ends body -->
</html>